body {
    background-color: #E5E5E5;
    font-family: 'Roboto', serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 655px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 30px 30px 30px 0;
}

.card .main-img {
    width: 278px;
    height: 293px;
    position: relative;
    left: -10%;
}

.card .faq {
    margin-left: -30px;
}

.faq h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.itens {
    width: 380px;
}

.item {
    cursor: pointer;
    background: url('../images/disabled-arrow.png') no-repeat top 23px right 0/12px;
    padding-top: 15px;

    &:not(:last-child) {
        border-bottom: 1px solid #a5a5a541;
        padding-bottom: 20px;
    }

    &.active {
        background-image: url('../images/active-arrow.png');
    }
}

.question {
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s ease;
    width: 90%;
    overflow: auto;

    &:hover {
        color: #F47C57;
    }
}

.answer {
    display: none;
    width: 90%;
}

.item.active .answer {
    display: block;
    padding-top: 12px;
    font-size: 15px;
    font-weight: 300;
}